@page "/counter"

<h1>Counter</h1>

@if(UseShared)
{
<p>Current <i>shared</i> count: @sharedCounterValue</p>
}
else
{
<p>Current count: @currentCount</p>
}

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<p>Using shared? @UseShared</p>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        if(UseShared)
            sharedCounterValue++;
        else
            currentCount++;

        StateHasChanged();
    }

    [Parameter]
    public bool UseShared{get;set;}=false;

    private static int sharedCounterValue = 0;
}
